html{
	height: 100%;
	width: 100%;
}

h1{
	font-size: 5vh;
	text-align: center;
}

.images{
	height: 480px;
	width: 480px;
	background-size: cover;
	margin: auto;
	margin-top: 10%;
	}

#image-1{
	background-image: url("pictures/fruits.jpg");
}

#image-2{
	background-image: url("pictures/market.jpg");
}